<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}" >
    <div class="section p-small bg-dark">
      <header class="container">
      <h1 class="text-big text-white">Site_name placeholder</h1>
      <p class="text-gray">Lorem ipsum dolor sit amet...</p>
        <ul class="nav" >
          <li class="badge">
            <a href="/">home</a>
          </li>
          <li class="badge">
            <a href="/about">about</a>
          </li>
          <li class="badge">
            <a href="/music">music</a>
          </li>
        </ul>
         </header>
        </div>
        <div class="container">
        <div class="section">
        <h1 class="text-huge">{{ title }}</h1>
          {%- if subtitle %}<p class="text-medium text-gray">{{ subtitle }}</p>{% endif %}

           {{ content | safe }}
           </div>
     
         {% include "footer.njk" %}
        </div>
  </body>
</html>



